* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 100%;
}

.field {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vh;
    height: 25vh;
    border: 10px solid black;
    padding: 15px;
    text-align: center;
}
.main {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vh;
    height: 50vh;
    border: 10px solid black;
    padding: 15px;
    text-align: center;
}

.hand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    
}

.card {
    width: 20%;
    
}